/* ----------------------------------------------------------- Body General */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #2a3105;
    margin: 20px 20px 10px 10px;
}

.container-fluid {
    /* without this, bootstrap causes a horizontal scrollbar */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    color: #00887A;
}

h3 {
    font-size: 1.5rem;
    display: inline;
    color: #8FC1E3;
}


h2{
    color: #8092f7;
    margin-top: 1rem;
    margin-bottom: 0;
    background-color: #ebe9e5;
    padding: 5px;
}

h4 {
    color: #8092f7;
    cursor: pointer;
    font-size: 3vw;
    text-align: center;
}

h4:hover {
    color: #8FC1E3;
}

.chosen-header {
    dispay: inline;
    color: #00887A;
    font-size: 1.25rem;
    font-weight: 500;
}

.chosen {
    background-color: #D3E3F7;
}

a {
    color: #8092f7;
    cursor: pointer;

}

a:hover {
    color: #8FC1E3;
}


.hoofdbeeld-links {
    position: relative;
    width: 100%;

}

.hoofdbeeld-rechts {
    position: relative;
    width: 100%;
}

.scroll-to, .choose {
    cursor: pointer;
}

.scroll-to:hover {
    color: #8FC1E3;
}

button {
    color: #00887A;
    font-weight: 600;
    font-size: 0.86rem;
    background-color: #D3E3F7;
    border: none;
    border-radius: 8px;
}

button:hover {
    color: #8092f7;
}
.reset {
    margin-right: 10px;
}

.addLine {
    float: right;
    margin-right: 10px;
}

.removeLine {
    float: right;
}


/* https://www.w3schools.com/css/css_align.asp How to center align elements

https://mapstyle.withgoogle.com/

 */

/*--------------------------------------------Map*   @mediaquerry for desktop??? */


.destination-headers {
    display: block;
    position: relative;
    left: -40px;
}


.choose-image {
    display: block;
    margin: 10px auto 5px auto;
}

.chosen-image {
    display: inline;
    vertical-align: text-bottom;
    margin-right: 10px;
}

/*
.destination-texts {
    position: relative;
    left: -20px;
    color: #484C4F;
}
*/

/*
.markers {
    background-color: #ebe9e5;
    padding-left: 10px;
}

.markers-text {
    display: none;
    padding-left: 10px;
}


.markers-pic {
    display: grid;
    margin: 15px auto;
}
*/


.categories {
    background-color: aliceblue;
}

#lima-map {
    width: 325px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

#arequipa-map {
    width: 325px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}


#floating-panel {
    /*background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;*/
}

#cusco-map {
    height: 600px;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    margin-left: auto;
}

img {
    margin-right: auto;
}

.info {
    margin-left: 50px;
}

li {
    color: #8092f7;
}

/* ----------------------------------------------------------- Display of Text */

#lima-intro {
    display: none;
}

#arequipa-intro {
    display: none;
}

#cusco-intro {
    display: none;
}

/*
#lima-attracties-text {
    display: none;
}


#arequipa-attracties-text {
    display: none;
}

#arequipa-hotels-text {
    display: none;
}
*/

/*-----------------------------------------------------------Dropdown*/

.lima-attracties, .lima-hotels, .lima-restaurants, .lima-info,
.arequipa-attracties, .arequipa-hotels, .arequipa-restaurants, .arequipa-info,
.cusco-attracties, .cusco-hotels, .cusco-restaurants, .cusco-info,
.markers-text {
    display: none;
}

/*
.selecteer {
    display: inline;


}*/
